/* map */
body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; }


/* Menu */
.menu {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu a.active {
      background: #b9c4cd;
      color:#FFF;
      }
      .menu a.active:hover {
        background: #f8f8f8;
        }