/*body*/
body { margin:0; padding:0; }

/*header*/
#title {
  z-index: 1;
  font-size:24px;
  position: absolute;
  float: left;
  top: 10px;
  left: 60px;
}

/* map */
#map { position:absolute; top:0; bottom:0; width:100%; }

/*sidebar*/
#side_container {
  width: 150px;
  height: 100%;
  padding: 10px;
  float: right;
}

/* Menu */
#menu {
  background:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.30);
  position:relative;
  z-index:1;
  border-radius:4px;
  width:150px;
  border:1px solid rgba(0,0,0,0.4);
  }
  #menu a {
    font-size:14px;
    color: #7a7a7a;
    display:block;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(120, 120, 120, 0.25);
    text-align:center;
    }
    #menu a:first-child {
      border-radius:4px 4px 0 0;
      }
    #menu a:last-child {
      border:none;
      border-radius:0 0 4px 4px;
      }
    #menu a:hover {
      background: #d3d1d3;
      color:#404040;
      }
    #menu a.active {
      background: #e3e3e3;
      color: #7a7a7a;
      }
      .menu a.active:hover {
        background: #d3d1d3;
        }

/*legend*/
#legend {
  background:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.30);
  position:relative;
  z-index:1;
  border-radius:4px;
  width:150px;
  border:1px solid rgba(0,0,0,0.4);
  padding: 10px;
  font-size:12px;
  display:block;
  box-sizing: border-box;
  margin-top: 10px;
}
  #legend .legend-container {
    margin-top: 10px;
  }

  #legend .legend-title {

  }

  #legend .legend-key {
      display:inline-block;
      border-radius:4px;
      width: 10px;
      height: 10px;
      margin-right: 5px;
  }

/*logo*/
#logo_container {
    height: 35px;
    right: 10px;
    bottom: 30px;
    position: absolute;
}
#logo1 {
    height: 100%;
}
#logo2 {
    height: 100%;
}
